:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --less-dark-blue: hsl(223, 15%, 18%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass';
}

.card {
    width: 410px;
    background: linear-gradient(to bottom, hsl(212, 18%, 17%), hsl(216, 24%, 12%));
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card img {
    box-sizing: initial;
}

.high-img {
    width: 168px;
    height: 108px;
    background-color: none;
    margin: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card h2 {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 20px;
}

.card p {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);
}

.rounded {
    background-color: var(--dark-blue);
    padding: 17px;
    border-radius: 50%;
}

.rate-list  {
    display: flex;
    justify-content: space-between;
}

.rate-text {
    display: inline-block;
    background-color: var(--light-grey);
}

label {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--orange);
    color: var(--white);
}

input[type="radio"]:checked:hover + label {
    background-color: var(--orange);
    color: var(--white);
}

input[type="radio"] + label:hover {
    background-color: var(--light-grey);
    color: var(--white);
}

input[type="submit"] {
    background-color: var(--orange);
    padding: 16px;
    border-radius: 24px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--orange);
}