:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --less-dark-blue: hsl(223, 15%, 18%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Overpass";
}

.card {
    max-width: 410px;
    background: linear-gradient(
        to bottom,
        hsl(212, 18%, 17%),
        hsl(216, 24%, 12%)
    );
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

#card-image-before {
    box-sizing: initial;
}

/* .high-img {
    width: 168px;
    height: 108px;
    background-color: none;
    margin: auto;
    transition: .3s;
}  */

#card-text {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#card-title {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 10px;
}

#card-text p {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);
    line-height: 24px;
    max-width: 35ch;
}

.rounded {
    background-color: var(--dark-blue);
    padding: 17px;
    border-radius: 50%;
}

.rate-list {
    display: flex;
    justify-content: space-between;
}

.rate-note {
    display: block;
    margin: 30px auto 0px auto;
    width: max-content;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--orange);
    border-radius: 20px;
}

label {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--light-grey);
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--orange);
    color: var(--white);
}

input[type="radio"]:checked:hover + label {
    background-color: var(--orange);
    color: var(--white);
}

input[type="radio"] + label:hover {
    background-color: var(--light-grey);
    color: var(--white);
}

input[type="submit"] {
    background-color: var(--orange);
    padding: 16px;
    border-radius: 24px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    letter-spacing: 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--orange);
}

@media (max-width: 450px) {
    .card {
        width: 90vw;
        padding: 30px 20px 30px 20px;
        gap: 25px
    }
    .rate-list {
        flex-wrap: wrap;
    }
    .rounded {
        padding: 12px;
    }
    label {
        width: 42px;
        height: 42px;
    }
}

#card-image-after {
    display: none;
    transition: .1s;
}